.suggestion_bar{
    position: absolute;
    top: 80%;
    left: 30%;
    background-color: aliceblue;
    width: auto;
}
li {
    list-style: none;
    margin-left: -50px;
}
.suggestion_list{
    text-align: start;
    font-size: medium;
    width: 90%;
    background-color: rgb(241, 243, 251);
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    text-decoration: dotted;
}

.suggestion_list:hover{
    background-color: rgb(197, 223, 255);
}