.headerContainer {
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #73a9c4;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.headerLeft {
  flex: 2;
}

.logo {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration-line: none;
}

.headerCenter {
  flex: 9;
}

.searchbar {
  width: 80%;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 20px;
}

.searchInput {
  border: none;
  width: 100%;
  font-size: medium;
}

.searchInput:focus {
  outline: none;
}

.search_btn {
  border-radius: 50%;
  height: 40px;
  cursor: pointer;
}
