body {
  margin: 0;
}

.detailContainer {
  background-color: #c3ebf7;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
}